body,html,ul,ol,li,img,input,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;}
body{font-size:12px;}
input,select,textarea{outline: none;}

.fl{float:left;}
.fr{float:right;}
